body {
	margin: 0;
	padding: 0;
	background-image: url(../IMG/BACKGROUND/Page4/fond-4.png);
	width: 80vw;
	height: 277vh;
	background-size: cover;
}
html {
	margin: 0;
	padding: 0;
}
.histoire {
	width: 1475px;
	height: auto;
	padding-left: 424px;
	z-index: 1;
}
.gifflammes {
	position: absolute;
	width: 1425px;
	height: 572px;
	left: 424px;
	z-index: -1;
}
.Grille1 {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 300px 300px 300px;
	padding-left: 500px;
	padding-top: 100px;
}
.iframe1 {
	grid-column-start: 2;
	grid-row-start: 1;
	width: 350px;
	height: 200px;
	padding-left: 180px;
}
.iframe2 {
	grid-column-start: 1;
	grid-row-start: 2;
	width: 350px;
	height: 200px;

}
.iframe3 {
	grid-column-start: 2;
	grid-row-start: 2;
	width: 350px;
	height: 200px;
	padding-left: 180px;
}
.iframe4 {
	grid-column-start: 3;
	grid-row-start: 2;
	width: 350px;
	height: 200px;
	padding-left: 360px;
}
.iframe5 {
	grid-column-start: 1;
	grid-row-start: 3;
	width: 350px;
	height: 200px;
}
.iframe6 {
	grid-column-start: 2;
	grid-row-start: 3;
	width: 350px;
	height: 200px;
	padding-left: 180px;
}
.iframe7 {
	grid-column-start: 3;
	grid-row-start: 3;
	width: 350px;
	height: 200px;
	padding-left: 360px;
}
.iframe8 {
	width: 350px;
	height: 200px;
	padding-left: 500px;
}
.iframe9 {
	width: 350px;
	height: 200px;
	padding-left: 180px;
}
.iframe10 {
	width: 350px;
	height: 200px;
	padding-left: 180px;
}
.flex1 {
	display: flex;
	padding-left: 30px;
}
.bandeaux{
	display: flex;
	flex-direction: column;
	margin-top: -1315px;
	margin-left: 110px;
}
.b1 {
	width: 190px;
	height: auto;
	transform: rotate(-15deg);
	margin-bottom: 90px;
}
.b2 {
	width: 190px;
	height: auto;
	transform: rotate(10deg);
	margin-bottom: 90px;
}
.b3 {
	width: 190px;
	height: auto;
	transform: rotate(-7deg);
	margin-bottom: 90px;
}
.b4 {
	width: 190px;
	height: auto;
	margin-bottom: 90px;
}
.b5 {
	width: 190px;
	height: auto;
	margin-bottom: 90px;
}

.b1:hover {
	width: 205px;
	height: auto;
	margin-left: -5px;
	transform: rotate(-10deg);
	filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
	margin-bottom: 90px;
}
.b2:hover {
	width: 205px;
	height: auto;
	margin-left: -12px;
	transform: rotate(5deg);
	filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
	margin-bottom: 90px;
}
.b3:hover {
	width: 205px;
	height: auto;
	margin-left: -10px;
	transform: rotate(-2deg);
	filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
	margin-bottom: 90px;
}
.b4:hover {
	width: 205px;
	height: auto;
	margin-left: -10px;
	transform: rotate(-5deg);
	filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
	margin-bottom: 90px;
}
.b5:hover {
	width: 205px;
	height: auto;
	margin-left: -10px;
	transform: rotate(-5deg);
	filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
	margin-bottom: 90px;
}